{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
К-тр {{ title }}
{% endblock %}

{% block content_header %} {% endblock %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.name|as_crispy_field }}
            </div>
        </div>
        {{ form.description|as_crispy_field }}
        {{ form.conditions|as_crispy_field }}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.logo|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.top_banner|as_crispy_field }}
            </div>
        </div>

        <div class="form-row">
            {{ formset.management_form }}
            {% for form in formset.forms %}
            <div class="form-group col-md-4 mb-0">
                {{ form.image|as_crispy_field }}
            </div>
            {% endfor %}
        </div>
        <div class="mb-4">
            <h3 class="mt-4" style="text-align:center">Список залов:</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Название зала</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {{ formset_hall.management_form }}
                {% for form in formset_hall.forms %}
                {% if form.name.value %}
                <tr>
                    <td>{{ form.name.value }}</td>
                    <td>
                        <a href="{% url 'hall_detail' pk=form.id.value %}" class="mr-2" style="color:lime;"><i
                                class="nav-icon fas fa-edit (alias)"></i></a>
                        <a href="{% url 'delete_hall' pk=form.id.value %}" style="color:red"><i
                                class="nav-icon fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <!--            <ul class="list-group">-->
            <!--                {{ formset_hall.management_form }}-->
            <!--                {% for form in formset_hall.forms %}-->

            <!--                {% if form.name.value %}-->
            <!--                <li class="list-group-item" style="display:flex; justify-content:space-around;">-->
            <!--                    <span>{{ form.name.value }}</span>-->
            <!--                    <div>-->
            <!--                        <a href="{% url 'hall_detail' pk=form.id.value %}" class="mr-2" style="color:lime;"><i-->
            <!--                                class="nav-icon fas fa-edit (alias)"></i></a>-->
            <!--                        <a href="{% url 'delete_hall' pk=form.id.value %}" style="color:red"><i-->
            <!--                                class="nav-icon fas fa-trash"></i></a>-->
            <!--                    </div>-->
            <!--                </li>-->
            <!--                {% endif %}-->
            <!--                {% endfor %}-->
            <!--            </ul>-->
        </div>

        <a href="{% url 'create_hall' %}" class="btn btn-warning">Добавить зал</a>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <input type="submit" name="Удалить" value="Удалить кинотеатр" class="btn btn-danger">
    </form>
</div>
{% endblock %}