{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ title }}
{% endblock %}

{% block content_header %} {% endblock %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.name|as_crispy_field }}
            </div>
        </div>
        {{ form.description|as_crispy_field }}
        {{ form.conditions|as_crispy_field }}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.logo|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.top_banner|as_crispy_field }}
            </div>
        </div>

        <div class="form-row">
            {{ formset.management_form }}
            {% for form in formset.forms %}
            <div class="form-group col-md-4 mb-0">
                {{ form.image|as_crispy_field }}
            </div>
            {% endfor %}
        </div>
        <div class="mb-4">
            <h3 class="mt-4" style="text-align:center">Список залов:</h3>
            <ul class="list-group">
                {{ formset_hall.management_form }}
                {% for form in formset_hall.forms %}

                {% if form.name.value %}
                <li class="list-group-item">
                    <a href="{% url 'hall_detail' pk=form.id.value %}">{{ form.name.value }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <a href="{% url 'create_hall' %}" class="btn btn-warning">Добавить зал</a>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <input type="submit" name="Удалить" value="Удалить" class="btn btn-danger">
<!--        <a href="{% url 'delete_cinema' cinema.slug %}" class="btn btn-danger">Удалить кинотеатр</a>-->
    </form>
</div>
{% endblock %}