body{
    background: #000;
}

.cinema{
    margin: 0 10px;
    background: red;
    display: flex;

}
.col-9{
    background: #fff;

}
.top_title{
    text-align: center;
    padding: 10px 0 20px;
}

.cinema_items{
    display: flex;
    justify-content: space-around;
    display-wrap: wrap;
}
.card-footer{
    text-align: center;
}