.top_banner img{
    width: 100%;
    max-height: 600px;
}
.row{
    padding: 10px 15px;;
    padding-top: 20px;
    background: #ccc;
}
.col-9{
    padding: 0 70px;
    text-align: center;
}
.header{
    margin-bottom: 25px;
}
.inline{
    display: inline-block;
}
.header_name{
    color: #fff;
    font-size: 20px;
    margin-top: 0;
}

.logo{
    margin-left: 10px;
    margin-right: 90px;
}

.button{
    background-color: #0000CD;
    max-height: 50px;
    text-align: center;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
}

.description{
    color: #fff;
    padding-bottom: 15px;
}
.conditions_title{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 0;
}
.conditions{
    background-color: #191970;
    color: #D3D3D3;
    padding: 10px;

}