{% extends 'base.html' %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/cinema_list.css' %}">
{% endblock %}

{% block title %}
{{ title }} | {{ block.super }}
{% endblock %}


{% block content %}

<div class="cinema_body">
    <div class="top_photo">
        <img src="../static/photos/action.jpg">
    </div>

    <div class="page_container">
        <div class="main_content col-9">
            <div class="title">
                <h2>Наши кинотеатры</h2>
            </div>

            <div class="card_content">
            {% for cinema in cinema_list %}
                <div class="card">
                    <img src="{{ cinema.top_banner.url }}">
                    <div class="card-footer text-muted">
                        <a href="{{ cinema.get_absolute_url }}">{{ cinema.name }}</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="left_side col-3">
            LEFT SIDE
        </div>
    </div>
</div>
{% endblock %}
