{% extends 'base.html' %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/all_cinema.css' %}">
{% endblock %}

{% block title %}
{{ cinema_list.name }} | {{ block.super }}
{% endblock %}


{% block content %}
<div class="cinema">
    <div class="col-9">
        <div class="top_title">
            <h3>Наши кинотеатры</h3>
        </div>
        <div class="cinema_items">
            {% for cinema in cinema_list %}
            <div class="col-5">
                <div class="card">
                    <img src="{{ cinema.top_banner.url }}">
                    <div class="card-footer text-muted">
                        <a href="{{ cinema.get_absolute_url }}">{{ cinema.name }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-3">
        ducbicub
    </div>
</div>


{% endblock %}
