<div class="table">
    <div class="container">
        <table class="menu">
            <tbody>
            <tr>
                <td class="item">
                    <a href="{% url 'afisha' %}">
                        <span class="name">Афиша</span>
                    </a>
                </td>
                <td class="item">
                    <a href="/new/">
                        <span class="name">Расписание</span>
                    </a>
                </td>
                <td class="item">
                    <a href="/podborki.html">
                        <span class="name">Скоро</span>
                    </a>
                </td>
                <td class="item">
                    <a href="/filmy/">
                        <span class="name">Кинотеатры</span>
                    </a>
                </td>
                <td class="item">
                    <a href="/serialy/">
                        <span class="name">Акции</span>
                    </a>
                </td>
                <td class="item">
                    <a href="/doramy/">
                        <span class="name">О кинотеатре</span>
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>