body {
    background-color: #1A3044;
}

.act_page {
    margin-top: 40px;
}
.title {
    color: #fff;
    margin-bottom: 20px;
}
.act_text {
    color: #C0C0C0;
}
.image img{
    height: 280px;
    float: left;
    margin-right: 45px;
}

