
.errorlist{
    color: red;
}

a{
    text-decoration: none;
    color: #000;
}

body{
    background: url(../photos/fon2.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}

.form{
    margin:0 auto;
    max-width:500px;

}
.enter_title {
  color:#fff;
  text-align:center;
  font-size:300%;
}
.form_inner {
  background-color: transparent;
  box-sizing:border-box;
  padding-top:15px;
  padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}
.username h3{
  text-align: left;
  margin-left: 40px;
  color: #fff;
  text-shadow: 0 1px 0 #4c4646;
}
.form-control {
  height: 55px;
  max-width:400px;
  width: 80%;
  line-height:none;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 2em;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}

.form_inner input[type="submit"] {
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
}

/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px){
  .username h3 {
  text-align:center;
  margin:0;
  }
  .naugs-palasug, .vsamus-pugasd {
  margin:10px 0;
  }
  .aloplus-mudesa {
  margin-bottom:10px;
  }
}